.product-box{
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  position: relative;
}
.product_image{
  height: 70%;
  width: 100%;
 }
.product_image img{
  height: 100%;
}
.product_inner{
  height: 100%;
}
.grid-item{
  height: 400px;
  width: 100%;
  margin: 0 20px;
}
.text-center{
  white-space: nowrap;
}
.product_content{
  padding-left: 0;
  padding-right: 0;
}
.toRight,.toLeft{
  width: 30px;
  height: 25px;
  position: absolute;
  top: 120px;
  z-index: 5;
}
.toRight:hover,.toLeft:hover{
  box-sizing: content-box;
  border: 3px solid rgb(187,228,50);
}
.toLeft{
  left: -30px;
}
.toRight{
  right: -30px;
}
.toRight img,.toLeft img{
  width: 100%;
  height: 100%;
}
.shop_title{
  text-align: center;
  margin-top: 50px;
}
.shop-box{
  display: flex;
}
.section_container{
  padding: 0 50px;
  margin-top: 20px;
}
.shop_title{
  margin-top: 100px;
}